body {
    background-color: #dad6d3;
    background-image: url("../images/star-sky.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
#top {
    text-align: center;
    color: #fffffe;
    text-shadow: 3px 4px 5px rgb(250, 129, 0);
}
legend {
    color: #f1f1f1;
    background-color: #345586ca;
    border-radius: 12px;
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
}
fieldset {
    width: 700px;
    border: 2px groove #030303c6;
    border-radius: 7px;
    padding: 20px;
    background-color: #c1c1c1;
    display: inline;
}
.right {
    width: 650px;
    float: right;
    display: inline;
}
.gag {
    width: 700px;
    float: none;
}
.right_1 {
    width: 650px;
    float: right;
    display: inline;
    padding: 9px;
}
.center {
    width: 700px;
    margin: 10px 380px;
}
code {
    font-size: 17px;
    text-decoration: underline;
    color: #3589ffc6;
}
.primo {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 16px;
    text-decoration: underline;
    color: #ff34aed4;
}
.example {
    border: 3px solid #030303;
    padding: 2px 10px;
}
.head {
    text-align: center;
}
.sample {
    font-size: 20px;
}
.link {
    margin: 5px 0px 0px 280px;
    border: 2px solid black;
    background-color: #000000;
    padding: 15px;
    border-radius: 85%;
}
a {
    color: rgb(255, 158, 39);
}
a:active {
    color: rgb(251, 1, 255);
    font-style: italic;
}
.button_top {
    margin: 0px;
    bottom: 28px;
    right: 40px;
    width: 55px;
    position: fixed;
}